.van-nav-bar {
  --van-nav-bar-height: 48px;
  --van-nav-bar-icon-color: var(--van-text-color);
  line-height: 24px !important;

  .van-nav-bar__title {
    font-weight: 400;
    font-family: 'Noto Sans SC', 'Microsoft YaHei', sans-serif;
  }
}

.van-tabbar {
  --van-tabbar-height: 56px;
  --van-tabbar-item-active-color: var(--van-text-color);

  .van-tabbar-item:not(.van-tabbar-item--active) .van-tabbar-item__icon {
    filter: grayscale(60%);
  }

  .van-tabbar-item:not(.van-tabbar-item--active) .van-tabbar-item__text {
    opacity: 0.6;
  }

  .van-tabbar-item__text {
    font-family: 'Noto Sans SC', 'Microsoft YaHei', sans-serif;
  }
}
